{% extends "base.html" %} {% block title %}Про сайт{% endblock %} {% block content %}

<section class="welcome">
  <h1>Ласкаво просимо до SimpleGame!</h1>
  <p>Дізнавайтесь більше про улюблені ігри, читайте новини та огляди.</p>
</section>

<section class="text-blocks">
  <article class="info-block">
    <h3>Світ ігор змінюється щодня</h3>
    <p>
      Індустрія відеоігор розвивається з шаленою швидкістю. Щороку з’являються нові жанри, механіки та графічні інновації. Ігри вже давно вийшли за межі розваг — вони стають культурним явищем. Все
      більше проєктів досліджують соціальні, політичні та етичні теми. Ігрова спільнота зростає й об’єднує людей з усього світу. Професійні гравці, аматори та розробники творять нову цифрову епоху.
      Саме тому важливо залишатися в курсі останніх подій у світі ігор.
    </p>
  </article>

  <img src="https://res.cloudinary.com/dwnxgjd7u/image/upload/v1749198883/game-banner_ehurjk.jpg" alt="game_banner_1" class="text-blocks__banner" />

  <article class="info-block">
    <h3>Чому варто слідкувати за новинами ігор?</h3>
    <p>
      Новини ігрової індустрії допомагають завжди бути на крок попереду. Від релізів ігор до оновлень патчів і змін у серверах — усе це важливо. Якщо ти плануєш покупку гри, інформація про знижки чи
      бета-тестування може бути вирішальною. Новини також допомагають уникнути розчарування, коли гра виявляється не такою, як обіцяли трейлери. Регулярні новини формують об’єктивне уявлення про
      ринок. Вони дають змогу відслідковувати тренди, нові технології та великі релізи. Бути в курсі — це не лише цікаво, а й вигідно.
    </p>
  </article>

  <img src="https://res.cloudinary.com/dwnxgjd7u/image/upload/v1749198883/game-banner-2_gi7pvy.jpg" alt="game_banner_2" class="text-blocks__banner" />

  <article class="info-block">
    <h3>Як знайти свою ідеальну гру?</h3>
    <p>
      Сьогодні вибір ігор настільки великий, що легко розгубитись. Саме тому важливо орієнтуватися на жанри, платформу та власні інтереси. Не всі геймери люблять шутери чи RPG — хтось віддає перевагу
      стратегіям або симуляторам. Чіткий опис, скріншоти, рецензії та демо-версії можуть допомогти зробити правильний вибір. Огляди досвідчених гравців відкривають плюси й мінуси кожного проєкту.
      Також варто звертати увагу на системні вимоги й локалізацію. Гарна гра — це та, яка приносить задоволення саме тобі.
    </p>
  </article>
</section>

{% endblock %}
